<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Calculadora</title>
</head>
<body>
    <h1>Mini Calculadora</h1>


    <form action="/submit" method="post">
        <h2>Ecuación Cuadratica</h2>
        <label for="">valor 1</label><br>
        <input type="number" name="A"><br>
        <label for="">valor 2</label><br>
        <input type="number" name="B"><br>
        <label for="">valor 3</label><br>
        <input type="number" name="C"><br>
        <input type="submit" value="total">
        <label for="">{{resultado_mas}}</label>
        <label for="">{{resultado_menos}}</label>
    </form>
</body>
</html>